/* Orders CSS */
.empty-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    background-color: var(--white);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    grid-column: 1 / -1;
}

.empty-orders i {
    font-size: 48px;
    color: var(--text-light);
    margin-bottom: 20px;
}

.empty-orders p {
    color: var(--text-light);
    font-size: 16px;
    margin: 5px 0;
} 